body {
  margin: 0;
  box-sizing: border-box;
  background: rgb(136, 83, 136);
}

header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  width: 200px;
  text-align: center;
  background: rgba(246, 255, 122, 0.562);
  padding: 30px;
  border-radius: 1rem;
  border: solid 5px black;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  font-size: 20px;
  padding: 5px;
  width: min-content;
  margin: 10px;
}

#game-board {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#message {
  background-color: rgba(255, 255, 255, 0.644);
  margin: 40px;
  padding: 20px;
  border-radius: 1rem;
  border: solid 3px black;
  font-size: 24px;
}

.grid-container {
  background: rgba(255, 255, 255, 0.644);
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  border: 2px solid black;
  margin: auto;
}

.tile {
  display: flex;
  border: 1px solid black;
  font-size: 150px;
  align-items: center;
  justify-content: center;
}

.tile:hover {
  background-color: lightblue;
}

img {
  border-radius: 100%;
  border: 3px dotted rgba(233, 170, 186, 0.966);
  background: rgba(97, 52, 60, 0.685);
}