body {
  margin: 0;
  box-sizing: border-box;
  background: rgb(136, 83, 136);
}

header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  width: 200px;
  text-align: center;
  background: rgba(246, 255, 122, 0.562);
  padding: 30px;
  border-radius: 1rem;
  border: solid 5px black;
}

header .buttons {
  display: flex;
  justify-content: space-around;
}

button {
  font-size: 20px;
  padding: 5px;
  width: min-content;
  margin: 10px;
}

main {
  width: 100%;
  height: 100%;
}

.game-choice {
  opacity: 0;
  position: absolute;
  left: -200%;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.game-choice button {
  width: 200px;
  padding: 20px;
}

.player-form, .computer-form {
  opacity: 0;
  position: absolute;
  left: -200%;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-form form, .computer-form form {
  margin: 20px 0 20px 0;
  background: rgba(255, 255, 255, 0.644);
  padding: 30px;
  border-radius: 1rem;
}

.player-form form label, .computer-form form label {
  line-height: 3;
}

.player-form form input, .computer-form form input {
  margin-bottom: 30px;
  line-height: 2;
}

#game-board {
  opacity: 0;
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  left: -200%;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#message {
  background-color: rgba(255, 255, 255, 0.644);
  margin: 40px;
  padding: 20px;
  border-radius: 1rem;
  border: solid 3px black;
  font-size: 24px;
}

.grid-container {
  background: rgba(255, 255, 255, 0.644);
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  border: 2px solid black;
  margin: auto;
}

.tile {
  display: flex;
  border: 1px solid black;
  font-size: 150px;
  align-items: center;
  justify-content: center;
}

.tile:hover {
  background-color: lightblue;
}

img {
  border-radius: 100%;
  border: 3px dotted rgba(233, 170, 186, 0.966);
  background: rgba(97, 52, 60, 0.685);
}
