* {
  font-family: 'Amiri', serif;
  
}
body {
  margin: 0;
  background: rgb(136, 83, 136);
}

header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 60px;
  color: white;
  width: auto;
  text-align: center;
  box-shadow: 5px 5px 5px rgb(77, 18, 77), -5px -5px 10px rgb(158, 101, 149);
  padding: 30px;
  border-radius: 1rem;
}

button:disabled {
  cursor: not-allowed;
  display: none;
}

header .buttons {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

button, .player-form form input.submit,
.computer-form form input.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  box-sizing: border-box;
  font-size: 20px;
  padding: 5px;
  width: 120px;
  margin: 10px;
  background: rgba(2, 134, 155, 0.822);
  box-shadow: 5px 5px rgba(95, 151, 62, 0.795);
  border: none;
}

button:hover, .player-form form input.submit:hover,
.computer-form form input.submit:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}

main {
  width: 100%;
  height: 100%;
}

.game-choice,
.computer-difficulty {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.game-choice button,
.computer-difficulty button {
  width: 200px;
  padding: 20px;
}

.player-form,
.computer-form {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-form form,
.computer-form form {
  margin: 20px 0 20px 0;
  background: rgba(255, 255, 255, 0.644);
  padding: 30px;
  border-radius: 1rem;
}

.player-form form label,
.computer-form form label {
  line-height: 3;
  font-size: 20px;
}

.player-form form input,
.computer-form form input {
  margin-bottom: 30px;
  line-height: 2;
  font-size: 20px;
  width: 200px;
}

#game-board {
  opacity: 0;
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#message {
  color: white;
  background-color:rgba(95, 151, 62, 0.795);
  margin: 40px;
  padding: 10px;
  width: max-content;
  font-size: 30px;
}

.grid-container {
  background: rgba(255, 255, 255, 0.644);
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  border: 2px solid black;
  margin: auto;
}

.tile {
  display: flex;
  border: 1px solid black;
  font-size: 150px;
  align-items: center;
  justify-content: center;
}

.tile:hover {
  background-color: lightblue;
}

img {
  border-radius: 100%;
  border: 3px dotted rgba(233, 170, 186, 0.966);
  background: rgba(97, 52, 60, 0.685);
}
